.game-card {
  background-color: var(--form-background-color);
  border: 2px solid var(--highlight-color);
  color: var(--form-text-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.game-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 380px;
  max-height: 380px;
}


.game-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.game-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--highlight-color);
  max-width: 80%;
}

.score-box {
  font-size: 0.85rem;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 6px;
  color: #000;
  min-width: 38px;
  text-align: center;
}

.score-green {
  background-color: #8bc34a;
}

.score-yellow {
  background-color: #fbc02d;
}

.score-red {
  background-color: #e53935;
}

.game-date {
  font-size: 0.85rem;
  color: var(--form-text-color);
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.tag {
  background-color: var(--highlight-color);
  color: var(--background-color);
  padding: 2px 8px;
  border-radius: 999px;
  font-weight: 500;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-extra {
  color: var(--form-text-color);
  opacity: 0.6;
  padding: 2px 6px;
  font-style: italic;
}

.game-platforms {
  font-size: 0.75rem;
  opacity: 0.7;
  margin-top: 0.5rem;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
