body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.5;
  overflow: hidden;
}

.login-section {
  background-color: var(--background-color);
}

.link {
  color: var(--highlight-color);
}

.link:hover {
  text-decoration: none;
  color: var(--form-text-color);
}

p {
  font-weight: 500;
  font-size: 14px;
}

h4 {
  font-weight: 600;
  color: var(--highlight-color);
}

.log-reg-label {
  padding: 0 20px;
  font-weight: 700;
  background-color: var(--highlight-color);
  color: var(--background-color);
  width: 150px;
  margin: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  letter-spacing: 1px;
  transition: all 250ms linear;
}

.log-reg-label:hover {
  background-color: var(--background-color);
  color: var(--highlight-color);
  box-shadow: 0 0 4px 2px var(--highlight-color);
  cursor: pointer;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

.dial {
  display: none;
}

.dial-label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: var(--highlight-color);
}

.dial-label:before {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  color: var(--highlight-color);
  background-color: var(--dial-color);
  font-family: 'unicons';
  content: '\eb4f';
  top: -10px;
  left: -10px;
  font-size: 24px;
  transition: all 0.5s ease;
}

.dial:checked + .dial-label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-section {
  position: relative;
  width: 500px;
  max-width: 90%;
  height: 460px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 40px;
}

.card-container {
  width: 100%;
  height: 100%;
  position:absolute;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
}

.card-login, .card-register {
  width: 100%;
  height: 100%;
  background-color: var(--form-background-color);
  position: absolute;
  border-radius: 6px;
  transform-style: preserve-3d;
}

.card-register {
  transform: rotateY(180deg);
}

.dial:checked ~ .card-section .card-container {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group { 
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: var(--form-text-color);
  background-color: var(--background-color);
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  color: var(--highlight-color);
  text-align: left;
   transition: all 200ms linear;
}

.btn {  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 250ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.btn:hover {
  background-color: var(--background-color);
  color: var(--highlight-color);
  box-shadow: 0 0 4px 2px var(--highlight-color);
}