@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Oswald:wght@200..700&display=swap');

:root {
  --highlight-color: #feeca3;
  /*--highlight-color: #4cb0d1;*/
  /*--highlight-color: #a3f3fe;*/
  --dial-color: #020305;
  --background-color: #1f2029;  
  --form-text-color: #c4c3ca;
  --form-background-color: #2b2e38;
  --danger-color: #ff4d4d;
}

body {
  background-color: var(--background-color);
}