@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root {
  --highlight-color: #feeca3;
  /*--highlight-color: #4cb0d1;*/
  /*--highlight-color: #a3f3fe;*/
  --dial-color: #020305;
  --background-color: #1f2029;  
  --form-text-color: #c4c3ca;
  --form-background-color: #2b2e38;
}